{
	# debug
	admin off
	# order rate_limit before reverse_proxy
}

notepad.mx {
	encode gzip
	header -Server

	request_body {
		max_size 1MB
	}

	# cannot save more than once every 800 ms anyways
	# rate_limit /api* {remote.ip} 60r/m

	# https://hstspreload.org/
	# header Strict-Transport-Security max-age=31536000; includeSubDomains; preload

	root * ./backend/public
	file_server browse

	reverse_proxy /api/* localhost:3000 {
		header_down -Server
		header_down -X-Powered-By
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}
