{
	# debug
	admin off
}

notepad.mx {
	encode gzip
	header -Server

	request_body {
		max_size 1MB
	}

	# https://hstspreload.org/
	# header Strict-Transport-Security max-age=31536000; includeSubDomains; preload

	root * ./backend/public
	file_server

	reverse_proxy /api/* localhost:3000 {
		header_down -Server
		header_down -X-Powered-By
	}

	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}
